@import url("https://fonts.googleapis.com/css2?family=Molengo&family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(232, 232, 232);
  min-width: 320px;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

/* MAIN */

main {
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  max-width: 800px;
}

/* SECTION FECHAS */

.timeline-container {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.timeline-container ul {
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  z-index: 1;
}

.timeline-container ul li {
  font-family: "Molengo", sans-serif;
  font-size: 20px;
  background-color: rgb(35, 35, 35);
  border-radius: 50%;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  position: relative;
}

span {
  cursor: pointer;
}

.timeline-container ul li:not(:last-of-type)::before {
  content: "";
  position: absolute;
  top: 1rem;
  left: 50%; /* posicionar en el centro horizontal del contenedor */
  height: 200%; /* altura del 100% para cubrir todo el contenedor */
  width: 16px;
  transform: translateX(-50%);
  background-color: rgb(202, 1, 11);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  z-index: -1; /* poner detrás de los elementos */
  pointer-events: none; /* no se puede interactuar con el elemento */
}

/* EFECTOS ESPECIALES */

.cambia {
  cursor: pointer;
  animation-name: cambiar-escala;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes cambiar-escala {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

/* SECTION INFORMACION */

.informacion {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 2rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informacion figure img {
  width: 12rem;
  object-fit: cover;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.601));
}

figcaption {
  font-style: italic;
  font-weight: bold;
  color: rgb(202, 1, 11);
  margin-top: 2rem;
}

p {
  margin: 1rem;
  font-size: 2rem;
  text-align: justify;
}

/* Transicion de la información */

.informacion h1,
.informacion figure img,
.informacion p,
.informacion figcaption {
  opacity: 0;
}

.informacion.mostrando h1,
.informacion.mostrando figure img,
.informacion.mostrando p,
.informacion.mostrando figcaption {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.informacion.mostrando figure img {
  animation: girar 1s linear;
  animation-fill-mode: forwards;
}

@keyframes girar {
  from {
    transform: translateX(200px);
  }
  to {
    transform: rotateY(360deg);
    transform: translateX(0px) rotateY(360deg);
  }
}

/* FORMULARIO */

.formulario {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 400px;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: bolder;
}

input,
textarea {
  width: 100%;
  border-radius: 3px;
  padding: 0.3rem;
  border: 1px solid white;
  background-color: rgba(202, 1, 11, 0.553);
  font-size: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

label {
  font-size: 1rem;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 1rem;
}

button {
  background-color: rgba(0, 0, 0, 0.655);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
  color: #fff;
  margin-bottom: 20px;
  transition: 0.3s ease all;
  margin-top: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 100%;
  height: 2rem;
}

/* POP-UP */

#popup {
  background-color: rgba(4, 4, 4, 0.849);
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 450px;
  z-index: 9999;
  padding: 20px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.oculto {
  display: none;
}

.cerrar:hover {
  transform: scale(1.25);
  cursor: pointer;
}

#boton-popup {
  font-size: 30px;
  background-color: rgba(202, 1, 11, 0.865);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

@media screen and (max-width: 400px) {
  .timeline-container ul li {
    font-size: 1rem;
    width: 4rem;
    height: 4rem;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  figcaption {
    margin-top: 1rem;
  }

  .formulario {
    width: 100%;
    max-width: none;
  }
}
