@import url("https://fonts.googleapis.com/css2?family=Molengo&family=Raleway&display=swap%22");

@font-face {
  font-family: triforce;
  src: url(./fonts/Triforce.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  font-family: hylian;
  font-size: 1rem;
  margin: auto;
}

/* ESTRUCTURA */

body {
  font-family: triforce;
  font-size: 1rem;
  height: 100vh;
  background-image: url(./img/fondo.jpg);
  margin: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 170px;
  grid-template-areas:
    "header header"
    "nav main";
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
}

/* ESTRUCTURA */

/* LISTA */

nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 1rem;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 45%,
    rgba(172, 5, 5, 1) 46%,
    rgba(172, 5, 5, 1) 54%,
    rgba(255, 255, 255, 0) 55%
  );
}

nav li {
  background-color: rgb(35, 35, 35);
  border-radius: 50%;
  width: 2.7rem;
  height: 2.7rem;
  display: flex;
  font-size: 1rem;
  margin: auto;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: triforce;
  font-weight: bold;
}

nav ul li:first-child {
  margin-top: 0;
}

nav ul li:last-child {
  margin-bottom: 0;
}

span {
  color: white;
}

/* FIN LISTA */

/* CONTENIDO PRINCIPAL */

main {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  flex-direction: column;
  position: relative;
}

#titulo {
  font-family: triforce;
  font-size: 25px;
  text-align: center;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

#logoZelda {
  object-fit: cover;
  width: 15rem;
  filter: drop-shadow(2.5px 2.5px 1.5px #0d0d0d70);
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-align: left;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  margin-bottom: 5rem;
}

#imagen {
  object-fit: cover;
  width: 10rem;
  border-radius: 0.5rem;
}

/* FIN CONTENIDO PRINCIPAL */

#boton-popup {
  background-color: transparent;
  background-image: url("./img/agregar.svg");
  box-shadow: none;
  height: 50px;
  width: 50px;
  border: none;
  position: absolute;
  bottom: 20px;
  right: 5px;
}

button {
  background-color: rgba(0, 0, 0, 0.655);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
  color: #fff;
  margin-bottom: 20px;
  transition: 0.3s ease all;
  margin-top: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 100%;
  height: 2rem;
}

/* FORMULARIO */

h3 {
  display: flex;
  justify-content: center;
}

form ul {
  list-style: none;
}
.formulario {
  font-family: "Courier New", Courier, monospace;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 400px;
}

input,
textarea {
  width: 100%;
  border-radius: 3px;
  padding: 0.3rem;
  border: 1px solid white;
  background-color: rgba(84, 69, 248, 0.76);
  font-size: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

label {
  font-size: 1rem;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 1rem;
}

#popup {
  background-color: rgba(4, 4, 4, 0.849);
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 450px;
  z-index: 9999;
  padding: 20px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.oculto {
  display: none;
}

.cerrar:hover {
  transform: scale(1.25);
  cursor: pointer;
}

/* FIN FORMULARIO */

/* TABLET */

@media (min-width: 600px) {
  body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 150px 80px auto;
    grid-template-areas:
      "header"
      "nav"
      "main";
    margin: auto;
    position: relative;
  }

  #titulo {
    font-size: 2rem;
    margin-top: 1.5rem;
  }

  main {
    justify-content: space-around;
  }
  #boton-popup {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }

  p {
    font-size: 17px;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
  }

  header {
    margin: auto;
  }

  #logoZelda {
    width: 13rem;
    padding-top: 1rem;
  }

  nav {
    display: flex;
    align-items: center;
    margin-right: 4rem;
    margin-left: 4rem;
  }

  nav ul {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 45%,
      rgba(172, 5, 5, 1) 46%,
      rgba(172, 5, 5, 1) 54%,
      rgba(255, 255, 255, 0) 55%
    );
  }

  nav ul li:first-child {
    margin-left: 0;
  }

  nav ul li:last-child {
    margin-right: 0;
  }

  nav ul li {
    display: flex;
    width: 2.7rem;
    height: 2.7rem;
  }
}

/* FIN TABLET */

/* DESKTOP */

@media (min-width: 1200px) {
  html {
    max-width: 1200px;
  }

  body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 300px auto auto;
    grid-template-areas:
      "header"
      "nav"
      "main";
    margin: auto;
    position: relative;
  }

  header {
    margin: auto;
  }

  #logoZelda {
    width: 25rem;
  }

  nav {
    display: flex;
    align-items: center;
  }

  nav ul {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 45%,
      rgba(172, 5, 5, 1) 46%,
      rgba(172, 5, 5, 1) 54%,
      rgba(255, 255, 255, 0) 55%
    );
  }

  nav ul li:first-child {
    margin-left: 0;
  }

  nav ul li:last-child {
    margin-right: 0;
  }

  nav ul li {
    display: flex;
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
  }
  main {
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
  }

  #titulo {
    font-size: 3rem;
    /* margin-top: 1.5rem; */
  }

  #imagen {
    width: 20rem;
  }

  p {
    text-align: justify;
    font-size: 30px;
  }

  #boton-popup {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

/* FIN DESKTOP */

/* ANIMACIONES */

.informacion {
  opacity: 0;
  animation: fadeIN 1s linear;
  animation-fill-mode: forwards;
}

.informacion {
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#imagen.transicion {
  animation: girar 2s linear;
  animation-fill-mode: forwards;
}

@keyframes girar {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: rotateY(360deg);
    transform: translateX(0px) rotateY(360deg);
  }
}

.cambia {
  cursor: pointer;
  animation-name: cambiar-escala;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes cambiar-escala {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.13);
  }
}

span {
  cursor: pointer;
}
